/**
 * General settings
 */

/**
 * Color setting
 */
$baseColor      : #FAFAFA; //< White Gray
$textColor      : #212121; //< Dark Gray
$primaryColor   : #3F51B5; //< Indigo
$accentColor    : #F50057; //< Pink

/**
 * Common setting
 */
body {
    background-color: $baseColor;
    color: $textColor;
}

